<div class="container">
  <hr class="mx-auto w-100" />
  <div class="card card-content">
    <h2 class="card-title text-center my-2">Update Contact</h2>
    <div class="card-body">
      <p for="fName">
        First Name:
        <input
          type="text"
          id="fName"
          class="form-control"
          [(ngModel)]="this.contact.fName"
        />
      </p>
      <p>
        Last Name:
        <input
          type="text"
          class="form-control"
          [(ngModel)]="this.contact.lName"
        />
      </p>
      <p>
        Phone Number:
        <input
          type="text"
          class="form-control"
          [(ngModel)]="this.contact.phoneNumber"
        />
      </p>
      <p>
        Email Address:
        <input
          type="text"
          class="form-control"
          [(ngModel)]="this.contact.email"
        />
      </p>
      <div id="butonDiv" class="text-center my-2">
        <button class="btn btn-primary card-button" routerLink="/Contacts">
          Update Contact
        </button>
      </div>
    </div>
  </div>
</div>
